<app-navbar></app-navbar>

<div class="main-container">
  <h2>My Bookings</h2>

  <div class="bookings-grid">
    <div *ngFor="let b of bookings" class="booking-card">
      <div class="card-header">
        <h3>Unit ID: {{ b.unit_id }}</h3>
        
      </div>
      <div class="card-body">
        <p><strong>Booking ID:</strong> {{ b.id }}</p>
      </div>
      <div class="card-body">
        <p><strong>Booked by:</strong> {{ b.user_name }}</p>
      </div>
      <div class="card-body">
        <p><strong>User Email:</strong> {{ b.user_mail }}</p>
      </div>
      <div class="card-body">
        <p><strong>Booking Date</strong> {{ b.status }}</p>
      </div>
      <div class="card-body">
        <p><strong>Flat Number:</strong> {{ b.flat_number }}</p>
      </div>
      <div class="card-body">
        <p><strong>Payment Status:</strong> {{ b.payment_status }}</p>
      </div>

      
    <div class="no-bookings" *ngIf="bookings.length === 0">
      <p>No bookings found</p>
    </div>
  </div>
</div>